include python/quadrants/*.md
recursive-include python/quadrants/assets *
recursive-include python/quadrants/examples *.py
include python/quadrants/examples/autodiff/diff_sph/fc1_pretrained.pkl
include python/quadrants/examples/autodiff/diff_sph/fc2_pretrained.pkl
include python/quadrants/examples/algorithm/circle-packing/quadrants_logo.png
include python/quadrants/_lib/core/*.so
include python/quadrants/_lib/core/*.pyd
include python/quadrants/_lib/runtime/*.bc
include python/quadrants/_lib/runtime/*.dylib
include python/quadrants/shaders/*.spv
include python/quadrants/shaders/*.vert
include python/quadrants/shaders/*.frag

global-exclude *.pyc *.pyo
global-exclude ffmpeg
